.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: burlywood;
    
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 30px;

}

.navbar label{
    display: none;
    
}

#click:checked~.navbar ul{
    display: block;
}

@media screen and (max-width:500px) {
    .navbar label{
        display: block;
    }
    .navbar ul{
        display: none;
    }
    .navbar ul{
        display: none;
        position: absolute;
        top: 100px;
        background-color: beige;
        width: 100%;
       
    }
    .navbar ul li{
        padding: 20px;
        
    }

   

}

#click{
    display: none;
}
