.whatsappicon{
    color: rgb(188, 155, 115);
}
.facebookicon{
    color: aquamarine;
    background-color: black
    padding: ;
    font

}
.instaicon{
    color: blue;
}
.snapicon{
    color: blueviolet;
}
.googleicon{
    color: rgb(21, 87, 144);

}