*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}
#container .box1{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    animation: changebgcolor 5s ease infinite;


}


@keyframes changebgcolor {
    0% {
        background-color: green;
        /* transform: rotate(45deg); */
         
        
    }
    25% {
        background-color: green;
        /* transform: rotate(45deg); */
        transform: translate(200px);
        
    }
    50% {
        background-color: aqua;
        /* transform: rotate(90deg); */
        /* transform: scale(1.4); */
        transform: translate(200px, 200px);
    

    }
    75% {
        background-color: blue;
        /* transform: scale(1.6); */
        transform: translateY(200px);

    }
    
    100% {
        background-color: brown;
    }



}
